body {
	width: 100%;
	height: 100vh;
	margin: 0px;
	background-image: url('/background.png');
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Sansation", sans-serif;
	position: relative;
	z-index: 0;
}
#app {
	max-width: 900px;
	width: 100%;
	max-height: 100%;
}
#app h1 {
	text-align: center;
	font-size: 40px;
	font-weight: 700;
	color: #fff;
}
#app header{
	max-width: 870px;
	width: 100%;
	height: 60px;
	display: flex;
	align-items: center;
	column-gap: 25px;
}
.header-item{
	width: 180px;
	height: 100%;
	display: flex;
	align-items: center;
	position: relative;
	cursor: pointer;
}
.item-icon{
	width: 60px;
	height: 60px;
	background-color: #fff;
	box-shadow: 0px 0px 6px #5c5c5c7e;
	border-radius: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0px;
	top: 0px;
}
.item-icon img {
	width: 35px;
	height: 35px;
}
.item-info{
	width: 100%;
	height: 40px;
	border-radius: 120px;
	background-color: #fff;
	padding: 0px 0px 0px 85px;
	display: flex;
	align-items: center;
	font-size: 18px;
	font-weight: 500;
	color: #000;
	box-shadow: 0px 0px 6px #d2d2d27e;
}
main{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 25px;
	margin-top: 30px;
}
.card{
	width: 150px;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s ease-in-out;
	box-shadow: 0px 0px 8px #55c49686;
	border-radius: 20px;
	position: relative;
	transform-style: preserve-3d;
	background-color: #fff;
}
.card:hover{
	cursor: pointer;
	scale: 1.05;
	box-shadow: 0px 0px 16px #55c496ba;
}
.card-front, .card-back{
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	backface-visibility: hidden;
}
.card img{
	width: 100%;
	height: 100%;
}
.card-front {
	transform: rotateY(0deg);
}
.card-back{
	transform: rotateY(180deg);
	width: 80%;
	height: 80%;
}
.card.flipped{
	transform: rotateY(180deg);
}

.victory-container.show{
	width: 100%;
	height: 100%;
	background-color: #00000077;
	position: fixed;
	z-index: 9999;
	top: 0px;
	left: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.victory-include{
	max-width: 600px;
	width: 100%;
	height: 400px;
	background-color: #fff;
	margin-top: 100px;
	border-radius: 24px;
	box-shadow: 0px 0px 30px #8f2effa6;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 25px;
	box-sizing: border-box;
}
.victory-include h3{
	width: 100%;
	font-size: 40px;
	margin: 0px;
	text-align: center;
	color: #8f2eff;
}
.victory-info{
	width: 100%;
	display: flex;
	height: 100px;
	justify-content: center;
	align-items: center;
	column-gap: 20px;
}
.victory-info div{
	width: 120px;
	height: 40px;
	box-shadow: 0px 0px 12px #55c49686;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.victory-info p {
	font-size: 16px;
	font-weight: 500;
	color: #383838;
}
.victory-include button{
	width: 160px;
	height: 35px;
	border: none;
	background-color: #aa64fa;
	color: #fff;
	border-radius: 10px;
	transition: all 0.3s ease-in-out;
}
.victory-include button:hover{
	transform: translateY(-7px);
	background-color: #a153fa;
	cursor: pointer;
}


@media (max-width: 900px) {
	.card{
		width: 100px;
		height: 100px;
	}
	main{
		gap: 10px;
	}
	.header-item{
		width: 140px;
		height: 30px;
	}
	.item-icon{
		width: 45px;
		height: 45px;
		left: -10px;
		top: -6px;
	}
	.item-icon img{
		width: 25px;
		height: 25px;
	}
	.item-info{
		height: 30px;
		font-size: 14px;
		padding-left: 50px;
	}

	header{
		justify-content: center;
	}
}
@media (max-width: 580px){
	main{
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(5, 1fr);
		max-width: 215px;
		width: 100%;
	}
	#app {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	header{
		flex-wrap: wrap;
		height: fit-content !important;
		row-gap: 20px;
	}
	body{
		align-items: flex-start;
		min-height: 100%;
	}
}
